:root {
  --primary-color: lawngreen;
  --secondary-color: yellow;
  --main-bg-color: linear-gradient(#222, #000);
  --error-color: red;
  --normal-size: 1.125rem;
  --heading-size: 2.5rem;
  --main-margin: 0;
  --main-padding: 0.625em;
  --box-shadow: -3px 5px 5px 0px black;
}
.add-btn {
  background-color: #6fcf97;
  border-radius: 100px;
  box-shadow: var(--box-shadow);
  height: 40px;
  margin: var(--main-padding);
  width: 40px;
}
