:root {
  --primary-color: lawngreen;
  --secondary-color: yellow;
  --main-bg-color: black;
  --error-color: red;
  --normal-size: 1.125rem;
  --heading-size: 2.5rem;
  --main-margin: 0;
  --main-padding: 0.625em;
  --box-shadow: -3px 5px 5px 0px black;
}
.accept-offer-btn{
    margin: 1em;
    width: 80%;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    background: #242424;
    color: var(--primary-color);
    box-shadow: -3px 5px 5px 0px var(--primary-color);
}
.offer-btn-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cards {
  padding: 1em;
}

h1 {
  text-align: center;
}

.cards-container {
}

.cards-wrapper {
  position: relative;
  margin: 50px 0 45px;
}
.cards-header{
  text-align: center;
}
.cards-items {
  padding-left: 0;
  margin-bottom: 24px;
}
.cards-items li{
  display: flex;
  flex-flow: column;
  width: 90%;
  box-shadow: -3px 5px 5px 0px var(--primary-color);
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}
.cards-item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
  background: #242424;
  color: var(--primary-color);
  box-shadow: -3px 5px 5px 0px var(--primary-color);
}

.cards-item-link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards-item-pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards-item-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards-item-img:hover {
  transform: scale(1.1);
}

.cards-item-info {
  height: 40%;
  padding: 0 1.5em;
}

.cards-item-text {
  color: var(--primary-color);
  font-size: 18px;
  margin-top: 0;
  
}

.message-business-btn{
  margin: 1em;
    width: 80%;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    background: #242424;
    color: var(--primary-color);
    box-shadow: -3px 5px 5px 0px var(--primary-color);
}
@media only screen and (min-width: 1200px) {
  .content-blog-container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards-items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards-item {
    margin-bottom: 2rem;
  }
}
