:root {
  --primary-color: lawngreen;
  --secondary-color: yellow;
  --main-bg-color: linear-gradient(#222, #000);
  --error-color: red;
  --normal-size: 1.125rem;
  --heading-size: 2.5rem;
  --main-margin: 0;
  --main-padding: 0.625em;
  --box-shadow: -3px 5px 5px 0px black;
}

.deny-btn {
  background-color: tomato;
  border-radius: 100%;
  box-shadow: var(--box-shadow);
  color: black;
  height: 2.5rem;
  width: 2.5rem;
  margin: var(--main-padding);
}
