@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

:root {
  --primary-color: lawngreen;
  --secondary-color: yellow;
  --main-bg-color: black;
  --error-color: red;
  --normal-size: 1.125rem;
  --heading-size: 2.5rem;
  --main-margin: 0;
  --main-padding: 0.625em;
  --box-shadow: -3px 5px 5px 0px black;
}

.landing-container {
  background: url("../imgs/landingbg.png") center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.landing-container > h1 {
  color: var(--primary-color);
  font-size: 5rem;
  margin-top: 0.5em;
  font-family: "Audiowide", cursive;
  text-shadow: -3px 4px black;
}

.landing-container > p {
  margin-top: 0.5em;
  color: var(--primary-color);
  text-align: center;
  text-shadow: -3px 4px black;
  font-size: 1.5rem;
}

.btns {
  padding: 1em 2em;
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
}

.landing-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-btns .btn {
  margin: 0.3em;
}

@media screen and (min-width: 960px) {
  .landing-container > h1 {
    font-size: 10rem;
  }

  .landing-btns {
    margin-top: -5em;
  }
}

@media screen and (min-width: 768px) {
  .landing-container > h1 {
    font-size: 7rem;
  }

  .landing-container > p {
    font-size: 3rem;
  }

  .landing-btns {
    margin-top: -4em;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }
}
