.landing-container {
  background: url("../imgs/landingbg.png") center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.landing-container > h1 {
  color: #fff;
  font-size: 15rem;
  margin-top: -1em;
  font-family: "Hacked";
}

.landing-container > p {
  margin-top: 0.5em;
  color: #fff;
  text-align: center;
  font-size: 3.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.btns {
  padding: 1em 2em;
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
}

.landing-btns {
  margin-top: -11em;
}

.landing-btns .btn {
  margin: 0.3em;
}

@media screen and (max-width: 960px) {
  .landing-container > h1 {
    font-size: 8rem;
    margin-top: -1.5em;
  }

  .landing-btns {
    margin-top: -5em;
  }
}

@media screen and (min-width: 768px) {
  .landing-container > h1 {
    font-size: 7rem;
    margin-top: -1em;
  }

  .landing-container > p {
    font-size: 3rem;
  }

  .landing-btns {
    margin-top: -4em;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
