:root {
    --primary-color: "tomato";
    --secondary-color: "papayawhip";
    --main-bg-color: "white";
    --error-color: "red";
    --normal-size: 1.125rem;
    --heading-size: 2.5rem;
    --main-margin: 0;
    --main-padding: 0.625em;
  }
.input-container{
    margin: 20px;
}
.login-form{
    margin: auto;
    width: 90%;
    text-align: left;
}
.login-container{
    margin-top: 100px;
    text-align: center;
}
.login-input{
    width: 100%;
    height: 24px;
    box-shadow: 2px 2px 2px black;
    border-radius: 10px;
}
.login-btn{
    margin: 1rem;
}
.login-btn-container{
    display: flex;
    flex-direction: row-reverse;
}