:root {
  --primary-color: tomato;
  --secondary-color: papayawhip;
  --main-bg-color: white;
  --error-color: red;
  --normal-size: 1.125rem;
  --heading-size: 2.5rem;
  --main-margin: 0;
  --main-padding: 0.625em;
  --box-shadow: -3px 5px 5px 0px black;
}

