.skill-btn{
    float: left;
    width: 25%;
    background-color: rgb(158, 155, 155);
    padding: .3rem;
    padding-right: .1rem;
    margin: .5rem;
    border-radius: 10px;
    font-size: .75em;
    box-shadow: var(--box-shadow);
    text-align: center;
}
.skill-btn-container{
    margin: 0;
}
.delete{
    float: right;
    margin: 0 5px 0 0;
    background-color: rgb(158, 155, 155);
    border: none;
}