:root {
  --primary-color: lawngreen;
  --secondary-color: yellow;
  --main-bg-color: linear-gradient(#222, #000);
  --error-color: red;
  --normal-size: 1.125rem;
  --heading-size: 2.5rem;
  --main-margin: 0;
  --main-padding: 0.625em;
  --box-shadow: -3px 5px 5px 0px black;
}

article > .skills-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

main > form > #fl-details-form {
  padding-left: var(--main-padding);
}

.small-btn {
  float: right;
}
