:root {
    --primary-color: tomato;
    --secondary-color: papayawhip;
    --main-bg-color: white;
    --error-color: red;
    --normal-size: 1.125rem;
    --heading-size: 2.5rem;
    --main-margin: 0;
    --main-padding: 0.625em;
  }
.modal-container{
    position: fixed;
    top: 30%;
    left: 30%;
    width: 40%;
}

.modal{
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 1em;
    box-shadow: var(--box-shadow);
    font-size: var(--normal-size);
}