:root {
  --primary-color: lawngreen;
  --secondary-color: yellow;
  --main-bg-color: linear-gradient(#222, #000);
  --error-color: red;
  --normal-size: 1.125rem;
  --heading-size: 2.5rem;
  --main-margin: 0;
  --main-padding: 0.625em;
  --box-shadow: -3px 5px 5px 0px black;
}

.message-btn {
  font-size: 3rem;
  background-color: #000c;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease-out;
}

.message-btn:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 3.25rem;
  color: #242424;
}

.message-textarea {
  width: 100%;
  margin: 0;
}

#send-message {
  background-color: #111;
  display: flex;
  position: relative;
  z-index: 1;
  bottom: 0;
  width: 100%;
  color: black;
}

main > #send-message {
  margin: 0;
}
