:root {
  --primary-color: tomato;
  --secondary-color: papayawhip;
  --main-bg-color: white;
  --error-color: red;
  --normal-size: 1.125rem;
  --heading-size: 2.5rem;
  --main-margin: 0;
  --main-padding: 0.625em;
  --box-shadow: -3px 5px 5px 0px black;
}

.container {
  display: flex;
  flex-direction: column;
}

.container input {
  border: 1px solid #a0a0a0;
  border-radius: 5%;
  box-shadow: var(--box-shadow);
  font-size: 1rem;
  width: 8rem;
}

.container select {
  border: 1px solid #a0a0a0;
  border-radius: 5%;
  box-shadow: var(--box-shadow);
  height: 1.5rem;
  font-size: 1rem;
  width: 6rem;
}

.skill-input {
  display: inline-flex;
  font-size: var(--normal-size);
}

span {
  align-self: center;
  padding: 0.25em 0.25em 0 0.25em;
}
