:root {
  --primary-color: "tomato";
  --secondary-color: "papayawhip";
  --main-bg-color: "white";
  --error-color: "red";
  --normal-size: 1.125rem;
  --heading-size: 2.5rem;
  --main-margin: 0;
  --main-padding: 0.625em;
  --box-shadow: -3px 3px 15px 0px black;
}

article {
  display: inline-flex;
  font-size: var(--normal-size);
}

.container {
  display: flex;
  flex-direction: column;
}

.container input {
  font-size: 1rem;
}

.container select {
  height: 1.5rem;
  font-size: 1rem;
}

span {
  align-self: flex-end;
  padding: var(--main-padding) var(--main-padding) 0 var(--main-padding);
}
