:root {
  --primary-color: lawngreen;
  --secondary-color: yellow;
  --main-bg-color: linear-gradient(#222, #000);
  --error-color: red;
  --normal-size: 1.125rem;
  --heading-size: 2.5rem;
  --main-margin: 0;
  --main-padding: 0.625em;
  --box-shadow: -3px 5px 5px 0px black;
}

.offer-item {
  background-image: linear-gradient(#242424, #111);
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(4, max-content);
  grid-gap: 0.5em;
  padding: var(--main-padding);
  width: 100%;
  margin: 1em 0;
  border-top: 2px solid var(--primary-color);
  box-shadow: 0 2px 2px 1px var(--primary-color);
  justify-content: center;
  align-items: center;
}

.offer-item > h2,
p {
  margin: 0;
}

.offer-item > .offer-name {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.offer-item > .left-card {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.offer-item > .right-card {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.offer-green {
  color: var(--primary-color);
  font-weight: 900;
}

.offer-red {
  color: red;
  font-weight: 900;
}

.right-card {
  display: flex;
  flex-direction: column;
}

.right-card > p {
  padding: 0.5em;
}

.offer-item > .middle-card {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 300px;
  padding: 0.5em;
}

.offer-item > .bottom-card {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 4;
}

.bottom-card {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (min-width: 600px) {
  .offer-item {
    width: max-content;
    border-radius: 15px;
  }
}
