:root {
  --primary-color: lawngreen;
  --secondary-color: yellow;
  --main-bg-color: black;
  --error-color: red;
  --normal-size: 1.125rem;
  --heading-size: 2.5rem;
  --main-margin: 0;
  --main-padding: 0.625em;
  --box-shadow: -3px 5px 5px 0px black;
}

.btn {
  padding: var(--main-padding);
  border-radius: 15px;
  font-size: var(--normal-size);
  outline: none;
  border: none;
  cursor: pointer;
  align-self: baseline;
}

.btn-primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #242424;
  float: right;
}

.btn-outline {
  background-color: #000c;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease-out;
}

.btn-outline:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 1.25rem;
  color: #242424;
}

form > .btn-outline {
  float: right;
}

.btn-medium {
  font-size: 1rem;
  margin: 1em;
}

.btn-medium:hover {
  transition: all 0.3s ease-out;
  background: var(--primary-color);
  color: #242424;
  transition: 250ms;
}
