@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

:root {
  --primary-color: lawngreen;
  --secondary-color: yellow;
  --main-bg-color: black;
  --error-color: red;
  --normal-size: 1.125rem;
  --heading-size: 2.5rem;
  --main-margin: 0;
  --main-padding: 0.625em;
  --box-shadow: -3px 5px 5px 0px black;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  margin: 0;
}

main > form {
  padding: var(--main-padding);
}
