:root {
  --primary-color: lawngreen;
  --secondary-color: yellow;
  --main-bg-color: linear-gradient(#222, #000);
  --error-color: red;
  --normal-size: 1.125rem;
  --heading-size: 2.5rem;
  --main-margin: 0;
  --main-padding: 0.625em;
  --box-shadow: -3px 5px 5px 0px black;
}

.FLP-container {
  height: 100%;
  width: 100%;
}

.FLP-image-offer-container {
  display: grid;
  width: 100%;
  grid-template-rows: max-content 100px;
  align-items: center;
}

.FLP-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FLP-info-container {
  background-image: linear-gradient(#242424, #111);
  width: 90%;
  margin: 1em auto;
  padding: 1em;
  border-radius: 10px;
  background: #242424;
  box-shadow: -3px 5px 5px 0px var(--primary-color);
}

.profile-header {
  font-size: 3rem;
  margin: 0.25em 0;
  text-align: center;
}

.info-container-label {
  margin-top: 0;
}
.FLP-make-offer-btn {
  justify-self: center;
  height: 2.5em;
  width: 12em;
  margin: 0;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.2rem;
  background: #242424;
  color: var(--primary-color);
  box-shadow: -3px 5px 5px 0px var(--primary-color);
}
.FLP {
  height: 12em;
  margin: auto;
}

.FLP-offer-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.fas {
  margin: auto;
}
.edit-btn-container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  float: right;
}

@media screen and (min-width: 700px) {
  .FLP-container {
    height: 100%;
    width: 100%;
  }

  .FLP-image-offer-container {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .FLP-image-container {
    text-align: center;
    height: 15em;
    width: 15em;
  }

  .FLP-info-container {
    background-image: linear-gradient(#242424, #111);
    width: 90%;
    margin: 1em auto;
    padding: 1em;
    border-radius: 10px;
    background: #242424;
    box-shadow: -3px 5px 5px 0px var(--primary-color);
  }

  .profile-header {
    font-size: 3rem;
    margin: 0.25em 0;
    text-align: center;
  }

  .info-container-label {
    margin-top: 0;
  }
  .FLP-make-offer-btn {
    height: 40%;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    background: #242424;
    color: var(--primary-color);
    box-shadow: -3px 5px 5px 0px var(--primary-color);
  }
  .FLP {
    height: 15em;
    margin: auto 0;
  }

  .FLP-offer-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .fas {
    margin: auto;
  }
  .edit-btn-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    float: right;
  }
}
