:root {
  --primary-color: lawngreen;
  --secondary-color: yellow;
  --main-bg-color: linear-gradient(#222, #000);
  --error-color: red;
  --normal-size: 1.125rem;
  --heading-size: 2.5rem;
  --main-margin: 0;
  --main-padding: 0.625em;
  --box-shadow: -3px 5px 5px 0px black;
}

.cards-item {
  background-image: linear-gradient(#242424, #111);
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(3, max-content);
  grid-gap: 0.5em;
  padding: 1em;
  width: 100%;
  margin: 1em 0;
  border-top: 2px solid var(--primary-color);
  box-shadow: 0 2px 2px 1px var(--primary-color);
  justify-content: center;
  align-items: start;
}

.cards-item > h2,
p {
  margin: 0;
}

.cards-header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: left;
}

.cards-pic {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: var(--main-padding);
  padding: 0.5em;
  justify-self: flex-start;
}

.fl-right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 200px;
}

.fl-bottom {
  display: flex;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media screen and (min-width: 600px) {
  .cards-item {
    width: max-content;
    border-radius: 15px;
  }
}
